version: "3"

services:
  workspace:
    container_name: rust_workspace
    build:
      context: ./docker/workspace
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    tty: true
    volumes:
      - $HOME/workspace/rust_dev:/root/workspace
  db:
    image: postgres:latest
    container_name: rust_postgres
    ports:
      - 54320:5432
    volumes:
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
    hostname: postgres
    restart: always
    user: postgres
